body {
    margin: 0;
    padding: 0;
    background-image: url(img/background.jpg);
}

nav {
    width: 100%;
    background-color: #FAC731;
    overflow: auto;
}

ul {
    padding: 0;
    margin: 0 0 50px;
    list-style: none;
    
}

li{
    float: left;
}

.logo img {
    max-height: 40px; /* Adjust the height of the logo if necessary */
    margin-top: 5px; /* Adjust the margin to position the logo vertically */
    margin-left: 10px; /* Adjust the margin to position the logo horizontally */
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: Arial;
    color: black;
    text-align: center;
}

nav a :hover{
    background:#FFFCED;
    transition: 0.5s;
    text-transform: uppercase;
}


